services:
  sonarr-anime:
    image: linuxserver/sonarr:4.0.15
    container_name: sonarr-anime
    environment:
      - PUID=10000
      - PGID=10000
      - UMASK=002
      - TZ=Asia/Jakarta
    volumes:
      - /docker/appdata/sonarr-anime:/config
      - /mnt/data:/data
    ports:
      - 9898:8989
    restart: unless-stopped
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.sonarr-anime.rule=Host(`sonarr-anime.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.sonarr-anime.middlewares=sonarr-theme@file'
    networks:
      - traefik

networks:
  traefik:
    external: true
