services:
  stirling-pdf:
    image: frooodle/s-pdf:latest
    container_name: stirling-pdf
    restart: unless-stopped
    ports:
      - '8085:8080'
    volumes:
      - /docker/appdata/stirling-pdf/training:/usr/share/tessdata
      - /docker/appdata/stirling-pdf/config:/configs
    environment:
      - DISABLE_PIXEL=true
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_GB
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.stirling-pdf.rule=Host(`pdf.${DOMAIN_MAIN_PRIMARY}`) || Host(`pdf.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.stirling-pdf.middlewares=cloudflare-ip-allowlist@file,public-rate-limit@file'
    networks:
      - traefik

networks:
  traefik:
    external: true
