services:
  neko:
    image: 'ghcr.io/m1k1o/neko/chromium:latest'
    restart: 'unless-stopped'
    container_name: neko
    shm_size: '2gb'
    ports:
      - '8069:8080'
      - '52000-52100:52000-52100/udp'
    cap_add:
      - SYS_ADMIN
    environment:
      NEKO_DESKTOP_SCREEN: '1920x1080@30'
      NEKO_SESSION_CONTROL_PROTECTION: true
      NEKO_MEMBER_MULTIUSER_USER_PASSWORD: ${NEKO_MEMBER_MULTIUSER_USER_PASSWORD}
      NEKO_MEMBER_MULTIUSER_ADMIN_PASSWORD: ${NEKO_MEMBER_MULTIUSER_ADMIN_PASSWORD}
      NEKO_WEBRTC_EPR: 52000-52100
      NEKO_WEBRTC_ICELITE: 1
      NEKO_WEBRTC_NAT1TO1: ${NEKO_WEBRTC_NAT1TO1}
    volumes:
      - data:/home/neko/.config/chromium
      - ./policies.json:/etc/chromium/policies/managed/policies.json
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.neko.rule=Host(`neko.${DOMAIN_MAIN_PRIMARY}`)'
      - 'traefik.http.routers.neko.middlewares=tinyauth'
    networks:
      - traefik

volumes:
  data:

networks:
  traefik:
    external: true
