EMAIL_API=your_email
EMAIL_API_KEY=your_email_api_key
TARGET_EMAIL_SENDER=your_target_email

ROUTER_URL=http://your_router_ip_or_hostname
ROUTER_USERNAME=your_router_username
ROUTER_PASSWORD=your_router_password

PC_USERNAME=your_pc_username
PC_PASSWORD=your_pc_password
PC_IP_ADDRESS=your_pc_ip_address

CONTAINER_LIST=openspeedtest,smokeping

UPTIME_KUMA_URL=http://uptime_kuma_ip:uptime_kuma_port
UPTIME_KUMA_USERNAME=uptime_kuma_username
UPTIME_KUMA_PASSWORD=uptime_kuma_password
UPTIME_KUMA_MAINTENANCE_ID=uptime_kuma_maintenance_id

QBITTORRENT_HOST=qbittorrent_ip_or_hostname
QBITTORRENT_PORT=qbittorrent_port
QBITTORRENT_USERNAME=qbittorrent_username
QBITTORRENT_PASSWORD=qbittorrent_password
