services:
  pingvin-share:
    image: stonith404/pingvin-share:latest
    container_name: pingvin-share
    restart: unless-stopped
    ports:
      - 8099:3000
    volumes:
      - '/docker/appdata/pingvin-share/data:/opt/app/backend/data'
      - '/docker/appdata/pingvin-share/data/images:/opt/app/frontend/public/img'
      - '${DOWNLOADS_PATH:-/mnt/docker/pingvin-share/data/uploads}:/opt/app/backend/data/uploads'
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.pingvin-share.rule=Host(`share.${DOMAIN_MAIN_SECONDARY}`)'
    networks:
      - traefik

networks:
  traefik:
    external: true
