x-geoblock-defaults: &geoblock-defaults
  blackListMode: false
  allowLocalRequests: true
  allowUnknownCountries: false
  cacheSize: 15
  apiTimeoutMs: 5000
  api: "https://get.geojs.io/v1/ip/country/{ip}"
  allowedIPAddresses:
    - {{ env "IP_VPS_MAIN" }}

http:
  middlewares:
    allow-id-ips:
      plugin:
        geoblock:
          <<: *geoblock-defaults
          countries:
            - "ID"

    allow-sg-us-ips:
      plugin:
        geoblock:
          <<: *geoblock-defaults
          countries:
            - "SG"
            - "US"

    allow-trusted-geo-ips:
      plugin:
        geoblock:
          <<: *geoblock-defaults
          countries:
            - "ID"
            - "SG"
            - "US"
            - "CO"

    rate-limit:
      rateLimit:
        average: 600
        burst: 100
        period: 1m

    jellyfin-rate-limit:
      rateLimit:
        average: 1200
        burst: 200
        period: 1m

    public-rate-limit:
      rateLimit:
        average: 600
        burst: 100
        period: 1m
        sourceCriterion:
          ipStrategy:
            depth: 1

    basic-auth:
      basicAuth:
        users:
          {{- range (splitList "," (env "AUTH_USERS")) }}
           - "{{ . }}"
          {{- end }}

    public-ip-allowlist:
      ipAllowlist:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_PUBLIC")) }}
           - "{{ . }}"
          {{- end }}
        ipStrategy:
          depth: 1

    internal-ip-allowlist:
      ipAllowlist:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_INTERNAL")) }}
           - "{{ . }}"
          {{- end }}

    cloudflare-ip-allowlist:
      ipAllowList:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_CLOUDFLARE")) }}
           - "{{ . }}"
          {{- end }}
