http:
  middlewares:
    allow-trusted-geo-ips:
      plugin:
        geoblock:
          blackListMode: false
          countries:
            - "ID"
            - "SG"
            - "US"
          allowLocalRequests: true
          allowUnknownCountries: false
          cacheSize: 15
          api: "https://get.geojs.io/v1/ip/country/{ip}"

    rate-limit:
      rateLimit:
        average: 600
        burst: 100
        period: 1m

    public-rate-limit:
      rateLimit:
        average: 600
        burst: 100
        period: 1m
        sourceCriterion:
          ipStrategy:
            depth: 1

    basic-auth:
      basicAuth:
        users:
          {{- range (splitList "," (env "AUTH_USERS")) }}
           - "{{ . }}"
          {{- end }}

    public-ip-allowlist:
      ipAllowlist:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_PUBLIC")) }}
           - "{{ . }}"
          {{- end }}
        ipStrategy:
          depth: 1

    internal-ip-allowlist:
      ipAllowlist:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_INTERNAL")) }}
           - "{{ . }}"
          {{- end }}

    cloudflare-ip-allowlist:
      ipAllowList:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_CLOUDFLARE")) }}
           - "{{ . }}"
          {{- end }}
