services:
  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=10000
      - PGID=10000
      - UMASK=002
      - TZ=Asia/Jakarta
    volumes:
      - /docker/appdata/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.prowlarr.middlewares=prowlarr-theme@file'
    networks:
      - traefik

networks:
  traefik:
    external: true
