services:
  upsnap:
    container_name: upsnap
    image: seriousm4x/upsnap:latest
    network_mode: host
    restart: unless-stopped
    volumes:
      - /docker/appdata/upsnap:/app/pb_data
    environment:
      - TZ=Asia/Jakarta
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.upsnap.rule=Host(`upsnap.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.services.upsnap.loadbalancer.server.port=8090'
