services:
  metube:
    image: ghcr.io/alexta69/metube:latest
    container_name: metube
    restart: unless-stopped
    ports:
      - '8082:8081'
    volumes:
      - ./config.json:/config/config.json
      - ./secrets/cookies.txt:/config/cookies.txt
      - ~/drive/share/caddy/metube:/downloads
    environment:
      - OUTPUT_TEMPLATE=%(title)s [%(id)s].%(ext)s
      - YTDL_OPTIONS_FILE=/config/config.json
      - DELETE_FILE_ON_TRASHCAN=true
      - DEFAULT_OPTION_PLAYLIST_ITEM_LIMIT=4
      - DEFAULT_OPTION_PLAYLIST_STRICT_MODE=true
    labels:
      - 'tinyauth.apps.metube.path.allow=^\/(download|audio_download)'

      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.metube.rule=Host(`metube.${DOMAIN_MAIN_PRIMARY}`)'
      - 'traefik.http.routers.metube.middlewares=tinyauth'
    networks:
      - traefik

networks:
  traefik:
    external: true
