services:
  openspeedtest:
    image: openspeedtest/latest
    container_name: openspeedtest
    restart: unless-stopped
    ports:
      - 8081:3000
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.openspeedtest.rule=Host(`speedtest.${DOMAIN_MAIN_PRIMARY}`)'
      - 'traefik.http.routers.openspeedtest.middlewares=tinyauth'
    networks:
      - traefik

networks:
  traefik:
    external: true
