services:
  gluetun-qbittorrent:
    image: qmcgaw/gluetun:v3.40
    container_name: gluetun-qbittorrent
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - TZ=Asia/Jakarta
      - DOT=off
      - UPDATE_PERIOD=24h
      - UPDATER_VPN_SERVICE_PROVIDERS=protonvpn
      - VPN_TYPE=wireguard
      - VPN_SERVICE_PROVIDER=protonvpn
      - PORT_FORWARD_ONLY=on
      - VPN_PORT_FORWARDING=on
      - SERVER_COUNTRIES=Singapore
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - HEALTH_TARGET_ADDRESS=google.com:443
      - HEALTH_VPN_DURATION_INITIAL=10s
      - HEALTH_VPN_DURATION_ADDITION=20s
      - HEALTH_SUCCESS_WAIT_DURATION=20s
      - VPN_PORT_FORWARDING_UP_COMMAND=/bin/sh -c '/usr/bin/wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{PORTS}}}" http://127.0.0.1:2323/api/v2/app/setPreferences 2>&1'
    volumes:
      - /docker/appdata/gluetun-qbittorrent:/gluetun
    ports:
      - 2323:2323
    restart: always

  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    depends_on:
      gluetun-qbittorrent:
        condition: service_healthy
    network_mode: service:gluetun-qbittorrent
    environment:
      - PUID=10000
      - PGID=10000
      - UMASK=002
      - TZ=Asia/Jakarta
      - WEBUI_PORT=2323
    volumes:
      - ./scripts:/scripts
      - /docker/appdata/qbittorrent:/config
      - /mnt/data/torrents:/data/torrents
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.qbittorrent.middlewares=qbittorrent-theme@file'
      - 'traefik.http.services.qbittorrent.loadbalancer.server.port=2323'

networks:
  default:
    name: traefik
    external: true
