services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8088:8090
    volumes:
      - /docker/appdata/beszel:/beszel_data
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.beszel.rule=Host(`beszel.${DOMAIN_MAIN_SECONDARY}`)'
    networks:
      - traefik

networks:
  traefik:
    external: true
