services:
  sonarr:
    image: linuxserver/sonarr:4.0.15
    container_name: sonarr
    environment:
      - PUID=10000
      - PGID=10000
      - UMASK=002
      - TZ=Asia/Jakarta
    volumes:
      - /docker/appdata/sonarr:/config
      - /mnt/data:/data
    ports:
      - 8989:8989
    restart: unless-stopped
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.sonarr.middlewares=sonarr-theme@file'
    networks:
      - traefik

networks:
  traefik:
    external: true
