services:
  feishin:
    container_name: feishin
    image: 'ghcr.io/jeffvli/feishin:latest'
    environment:
      - SERVER_NAME=docker
      - SERVER_LOCK=true
      - SERVER_TYPE=jellyfin
      - SERVER_URL=${SERVER_URL}
      - ANALYTICS_DISABLED=true
    ports:
      - 9180:9180
    restart: unless-stopped
