services:
  feishin:
    container_name: feishin
    image: 'ghcr.io/jeffvli/feishin:1.0.0-beta.8'
    environment:
      - SERVER_NAME=docker
      - SERVER_LOCK=true
      - SERVER_TYPE=jellyfin
      - SERVER_URL=${SERVER_URL}
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Asia/Jakarta
    ports:
      - 9180:9180
    restart: unless-stopped
