services:
  radarr-anime:
    container_name: radarr-anime
    image: linuxserver/radarr:5.27.5
    restart: unless-stopped
    ports:
      - 8787:7878
    environment:
      - PUID=10000
      - PGID=10000
      - UMASK=002
      - TZ=Asia/jakarta
    volumes:
      - /docker/appdata/radarr-anime:/config
      - /mnt/data:/data
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.radarr-anime.rule=Host(`radarr-anime.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.radarr-anime.middlewares=radarr-theme@file'
    networks:
      - traefik

networks:
  traefik:
    external: true
