services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3033:3000
    volumes:
      - ./config:/app/config
    environment:
      - PUID=10000
      - PGID=10000

      - HOMEPAGE_ALLOWED_HOSTS=${HOMEPAGE_ALLOWED_HOST}

      - HOMEPAGE_VAR_DOMAIN_MAIN_PRIMARY=${DOMAIN_MAIN_PRIMARY}
      - HOMEPAGE_VAR_DOMAIN_MAIN_SECONDARY=${DOMAIN_MAIN_SECONDARY}

      - HOMEPAGE_VAR_BACKGROUND_IMAGE=${HOMEPAGE_VAR_BACKGROUND_IMAGE}

      - HOMEPAGE_VAR_FINNHUB_API_KEY=${HOMEPAGE_VAR_FINNHUB_API_KEY}

      - HOMEPAGE_VAR_OPENWEATHERMAP_API_KEY=${HOMEPAGE_VAR_OPENWEATHERMAP_API_KEY}
      - HOMEPAGE_VAR_OPENWEATHERMAP_LATITUDE=${HOMEPAGE_VAR_OPENWEATHERMAP_LATITUDE}
      - HOMEPAGE_VAR_OPENWEATHERMAP_LONGITUDE=${HOMEPAGE_VAR_OPENWEATHERMAP_LONGITUDE}

      - HOMEPAGE_VAR_PROXMOX_USERNAME=${HOMEPAGE_VAR_PROXMOX_USERNAME}
      - HOMEPAGE_VAR_PROXMOX_PASSWORD=${HOMEPAGE_VAR_PROXMOX_PASSWORD}

      - HOMEPAGE_VAR_BESZEL_USERNAME=${HOMEPAGE_VAR_BESZEL_USERNAME}
      - HOMEPAGE_VAR_BESZEL_PASSWORD=${HOMEPAGE_VAR_BESZEL_PASSWORD}

      - HOMEPAGE_VAR_HOME_ASSISTANT_API_KEY=${HOMEPAGE_VAR_HOME_ASSISTANT_API_KEY}

      - HOMEPAGE_VAR_MIKROTIK_USERNAME=${HOMEPAGE_VAR_MIKROTIK_USERNAME}
      - HOMEPAGE_VAR_MIKROTIK_PASSWORD=${HOMEPAGE_VAR_MIKROTIK_PASSWORD}

      - HOMEPAGE_VAR_ADGUARD_HOME_USERNAME=${HOMEPAGE_VAR_ADGUARD_HOME_USERNAME}
      - HOMEPAGE_VAR_ADGUARD_HOME_PASSWORD=${HOMEPAGE_VAR_ADGUARD_HOME_PASSWORD}

      - HOMEPAGE_VAR_TRAEFIK_USERNAME=${HOMEPAGE_VAR_TRAEFIK_USERNAME}
      - HOMEPAGE_VAR_TRAEFIK_PASSWORD=${HOMEPAGE_VAR_TRAEFIK_PASSWORD}

      - HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ACCOUNT_ID=${HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ACCOUNT_ID}
      - HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_API_KEY=${HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_API_KEY}

      - HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_MAIN_TUNNEL_ID=${HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_MAIN_TUNNEL_ID}
      - HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_MONITOR_TUNNEL_ID=${HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_MONITOR_TUNNEL_ID}

      - HOMEPAGE_VAR_NEXTCLOUD_API_KEY=${HOMEPAGE_VAR_NEXTCLOUD_API_KEY}

      - HOMEPAGE_VAR_QBITTORRENT_USERNAME=${HOMEPAGE_VAR_QBITTORRENT_USERNAME}
      - HOMEPAGE_VAR_QBITTORRENT_PASSWORD=${HOMEPAGE_VAR_QBITTORRENT_PASSWORD}

      - HOMEPAGE_VAR_JELLYFIN_API_KEY=${HOMEPAGE_VAR_JELLYFIN_API_KEY}

      - HOMEPAGE_VAR_JELLYSEERR_API_KEY=${HOMEPAGE_VAR_JELLYSEERR_API_KEY}

      - HOMEPAGE_VAR_KOMGA_API_KEY=${HOMEPAGE_VAR_KOMGA_API_KEY}

      - HOMEPAGE_VAR_SONARR_API_KEY=${HOMEPAGE_VAR_SONARR_API_KEY}

      - HOMEPAGE_VAR_RADARR_API_KEY=${HOMEPAGE_VAR_RADARR_API_KEY}

      - HOMEPAGE_VAR_BAZARR_API_KEY=${HOMEPAGE_VAR_BAZARR_API_KEY}

      - HOMEPAGE_VAR_SONARR_ANIME_API_KEY=${HOMEPAGE_VAR_SONARR_ANIME_API_KEY}

      - HOMEPAGE_VAR_RADARR_ANIME_API_KEY=${HOMEPAGE_VAR_RADARR_ANIME_API_KEY}

      - HOMEPAGE_VAR_BAZARR_ANIME_API_KEY=${HOMEPAGE_VAR_BAZARR_ANIME_API_KEY}
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.homepage.rule=Host(`homepage.${DOMAIN_MAIN_SECONDARY}`)'

networks:
  default:
    name: traefik
    external: true
