http:
  routers:
    proxmox:
      rule: Host(`proxmox.{{ env "DOMAIN_MAIN_SECONDARY" }}`)
      service: proxmox

    glances:
      rule: Host(`glances.{{ env "DOMAIN_MAIN_SECONDARY" }}`)
      service: glances

    nextcloud:
      rule: Host(`nextcloud.{{ env "DOMAIN_MAIN_PRIMARY" }}`)
      service: nextcloud

    home-assistant:
      rule: Host(`home.{{ env "DOMAIN_MAIN_SECONDARY" }}`)
      service: home-assistant

    qbittorrent-ubuntu:
      rule: Host(`qbittorrent-ubuntu.{{ env "DOMAIN_MAIN_SECONDARY" }}`)
      service: qbittorrent-ubuntu

  services:
    proxmox:
      loadBalancer:
        servers:
          - url: https://192.168.1.254:8006

    glances:
      loadBalancer:
        servers:
          - url: http://192.168.1.254:61208

    nextcloud:
      loadBalancer:
        servers:
          - url: http://192.168.1.100:11000

    home-assistant:
      loadBalancer:
        servers:
          - url: http://192.168.1.201:8123

    qbittorrent-ubuntu:
      loadBalancer:
        servers:
          - url: http://192.168.1.3:2323
