http:
  middlewares:
    tinyauth:
      forwardAuth:
        address: https://auth.{{ env "DOMAIN_MAIN_PRIMARY" }}/api/auth/traefik

    rate-limit:
      rateLimit:
        average: 600
        burst: 100
        period: 1m

    public-rate-limit:
      rateLimit:
        average: 600
        burst: 100
        period: 1m
        sourceCriterion:
          ipStrategy:
            depth: 1

    basic-auth:
      basicAuth:
        users:
          {{- range (splitList "," (env "AUTH_USERS")) }}
           - "{{ . }}"
          {{- end }}

    public-ip-allowlist:
      ipAllowlist:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_PUBLIC")) }}
           - "{{ . }}"
          {{- end }}
        ipStrategy:
          depth: 1

    internal-ip-allowlist:
      ipAllowlist:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_INTERNAL")) }}
           - "{{ . }}"
          {{- end }}

    cloudflare-ip-allowlist:
      ipAllowList:
        sourceRange:
          {{- range (splitList "," (env "IP_ALLOWLIST_CLOUDFLARE")) }}
           - "{{ . }}"
          {{- end }}
