services:
  fireshare:
    container_name: fireshare
    image: shaneisrael/fireshare:latest
    restart: unless-stopped
    ports:
      - '8077:80'
    volumes:
      - '/docker/appdata/fireshare/data:/data'
      - '/docker/appdata/fireshare/processed:/processed'
      - '/mnt/docker/appdata/fireshare/videos:/videos'
    environment:
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - SECRET_KEY=${SECRET_KEY}
      - MINUTES_BETWEEN_VIDEO_SCANS=5
      - THUMBNAIL_VIDEO_LOCATION=0
      - DOMAIN=fireshare.${DOMAIN_MAIN_PRIMARY}
      - PUID=10000
      - PGID=10000
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.fireshare.rule=Host(`fireshare.${DOMAIN_MAIN_SECONDARY}`)'
    networks:
      - traefik

networks:
  traefik:
    external: true
