services:
  worker-api:
    image: myoung34/github-runner:latest
    restart: unless-stopped
    environment:
      REPO_URL: https://github.com/ccrsxx/api
      EPHEMERAL: true
      ACCESS_TOKEN: ${ACCESS_TOKEN}
      DISABLE_AUTO_UPDATE: true
    deploy:
      replicas: 4
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
