services:
  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:v4
    container_name: tinyauth
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - LOG_LEVEL=info
      - APP_URL=${APP_URL}
      - APP_TITLE=Auth
      - BACKGROUND_IMAGE=${BACKGROUND_IMAGE}
      - USERS=${USERS}
      - DISABLE_ANALYTICS=true
      - PROVIDERS_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - PROVIDERS_GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - PROVIDERS_GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - PROVIDERS_GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - PROVIDERS_POCKETID_CLIENT_ID=${PROVIDERS_POCKETID_CLIENT_ID}
      - PROVIDERS_POCKETID_CLIENT_SECRET=${PROVIDERS_POCKETID_CLIENT_SECRET}
      - PROVIDERS_POCKETID_AUTH_URL=${PROVIDERS_POCKETID_AUTH_URL}
      - PROVIDERS_POCKETID_TOKEN_URL=${PROVIDERS_POCKETID_TOKEN_URL}
      - PROVIDERS_POCKETID_USER_INFO_URL=${PROVIDERS_POCKETID_USER_INFO_URL}
      - PROVIDERS_POCKETID_REDIRECT_URL=${PROVIDERS_POCKETID_REDIRECT_URL}
      - PROVIDERS_POCKETID_SCOPES=${PROVIDERS_POCKETID_SCOPES}
      - PROVIDERS_POCKETID_NAME=${PROVIDERS_POCKETID_NAME}
    labels:
      - 'tinyauth.apps.metube.config.domain=metube.${DOMAIN_MAIN_PRIMARY}'
      - 'tinyauth.apps.metube.path.allow=^\/(download|audio_download)'

      - 'tinyauth.apps.frigate.config.domain=frigate.${DOMAIN_MAIN_PRIMARY}'
      - 'tinyauth.apps.frigate.users.allow=${USER_WHITELIST}'
      - 'tinyauth.apps.frigate.oauth.whitelist=${OAUTH_WHITELIST}'

      - 'tinyauth.apps.jellyfin.config.domain=jellyfin.${DOMAIN_MAIN_PRIMARY}'
      - 'tinyauth.apps.jellyfin.ip.bypass=${IP_WHITELIST}'
      - 'tinyauth.apps.jellyfin.path.allow=${JELLYFIN_PATH_WHITELIST}'

      - 'tinyauth.apps.change-detection.config.domain=diff.${DOMAIN_MAIN_PRIMARY}'
      - 'tinyauth.apps.change-detection.users.allow=${USER_WHITELIST}'
      - 'tinyauth.apps.change-detection.oauth.whitelist=${OAUTH_WHITELIST}'

      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.tinyauth.rule=Host(`auth.${DOMAIN_MAIN_PRIMARY}`)'
      - 'traefik.http.middlewares.tinyauth.forwardauth.address=http://tinyauth:3000/api/auth/traefik'
    networks:
      - traefik

networks:
  traefik:
    external: true
