services:
  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:v4
    container_name: tinyauth
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - LOG_LEVEL=info
      - APP_URL=${APP_URL}
      - APP_TITLE=Auth
      - BACKGROUND_IMAGE=${BACKGROUND_IMAGE}
      - USERS=${USERS}
      - DISABLE_ANALYTICS=true
      - PROVIDERS_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - PROVIDERS_GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - PROVIDERS_GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - PROVIDERS_GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - PROVIDERS_POCKETID_CLIENT_ID=${PROVIDERS_POCKETID_CLIENT_ID}
      - PROVIDERS_POCKETID_CLIENT_SECRET=${PROVIDERS_POCKETID_CLIENT_SECRET}
      - PROVIDERS_POCKETID_AUTH_URL=${PROVIDERS_POCKETID_AUTH_URL}
      - PROVIDERS_POCKETID_TOKEN_URL=${PROVIDERS_POCKETID_TOKEN_URL}
      - PROVIDERS_POCKETID_USER_INFO_URL=${PROVIDERS_POCKETID_USER_INFO_URL}
      - PROVIDERS_POCKETID_REDIRECT_URL=${PROVIDERS_POCKETID_REDIRECT_URL}
      - PROVIDERS_POCKETID_SCOPES=${PROVIDERS_POCKETID_SCOPES}
      - PROVIDERS_POCKETID_NAME=${PROVIDERS_POCKETID_NAME}
    labels:
      - 'tinyauth.apps.jellyfin.ip.bypass=${IP_BYPASS_LIST}'
      - 'tinyauth.apps.jellyfin.path.allow=${JELLYFIN_PATH_ALLOWLIST}'

      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.tinyauth.rule=Host(`auth.${DOMAIN_MAIN_PRIMARY}`)'
      - 'traefik.http.middlewares.tinyauth.forwardauth.address=http://tinyauth:3000/api/auth/traefik'
    networks:
      - traefik

networks:
  traefik:
    external: true
