services:
  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    restart: unless-stopped
    ports:
      - 3001:3001
    volumes:
      - /docker/appdata/uptime-kuma:/app/data
    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.uptime-kuma.rule=Host(`uptime.${DOMAIN_MAIN_PRIMARY}`) || Host(`uptime.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.uptime-kuma.middlewares=cloudflare-ip-allowlist@file,public-rate-limit@file'
      - 'traefik.http.routers.uptime-kuma-admin.rule=(Host(`uptime.${DOMAIN_MAIN_PRIMARY}`) || Host(`uptime.${DOMAIN_MAIN_SECONDARY}`)) && (Path(`/dashboard`) || Path(`/manage-status-page`))'
      - 'traefik.http.routers.uptime-kuma-admin.middlewares=cloudflare-ip-allowlist@file,public-ip-allowlist@file'
    networks:
      - traefik

networks:
  traefik:
    external: true
