services:
  traefik:
    # The official v3 Traefik docker image
    image: traefik:v3.6

    # Set traefik resource
    cpus: 1

    # Name
    container_name: traefik

    # Restart policy
    restart: unless-stopped

    # Enables the web UI and tells Traefik to listen to docker
    command:
      # Debug log level
      - '--log.level=INFO'

      # Enable the Secured Web UI
      - '--api.insecure=true'
      - '--api.dashboard=true'

      # Skip self signed SSL certificates
      - '--serverstransport.insecureskipverify=true'

      # Enable Docker as a provider and disable exposed by default
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'

      # Enable File as a provider and watch the changes
      - '--providers.file.watch=true'
      - '--providers.file.directory=/config'

      # Setup entrypoints for HTTP and HTTPS and always redirect HTTP to HTTPS
      - '--entrypoints.web.address=:80'
      - '--entrypoints.web.http.redirections.entrypoint.to=websecure'
      - '--entrypoints.web.http.redirections.entrypoint.scheme=https'
      - '--entrypoints.websecure.address=:443'
      - '--entrypoints.websecure.http3=true'
      - '--entrypoints.websecure.asdefault=true'
      - '--entrypoints.websecure.forwardedheaders.trustedips=${IP_ALLOWLIST_CLOUDFLARE}'

      # Setup Domain and DNS challenge for Let's Encrypt
      - '--entrypoints.websecure.http.tls=true'
      - '--entrypoints.websecure.http.tls.certresolver=letsencrypt'
      - '--entrypoints.websecure.http.tls.domains[0].main=${DOMAIN_MAIN_PRIMARY}'
      - '--entrypoints.websecure.http.tls.domains[0].sans=${DOMAIN_WILDCARD_PRIMARY}'
      - '--entrypoints.websecure.http.tls.domains[1].main=${DOMAIN_MAIN_SECONDARY}'
      - '--entrypoints.websecure.http.tls.domains[1].sans=${DOMAIN_WILDCARD_SECONDARY}'

      # Setup Let's Encrypt certificates resolver
      - '--certificatesresolvers.letsencrypt.acme.email=${CLOUDFLARE_EMAIL}'
      - '--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json'
      - '--certificatesresolvers.letsencrypt.acme.dnschallenge=true'
      - '--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare'
      - '--certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53'
      - '--certificatesresolvers.letsencrypt.acme.dnschallenge.propagation.delaybeforechecks=60'

      # Experimental Plugins
      - '--experimental.plugins.themepark.modulename=github.com/packruler/traefik-themepark'
      - '--experimental.plugins.themepark.version=v1.4.2'
      - '--experimental.plugins.geoblock.modulename=github.com/PascalMinder/geoblock'
      - '--experimental.plugins.geoblock.version=v0.3.4'

    networks:
      - 'traefik'

    ports:
      # The HTTP port
      - '80:80'
      # The HTTPS port
      - '443:443/tcp'
      - '443:443/udp'
      # The Web UI (enabled by --api.insecure=true)
      - '8010:8080'

    extra_hosts:
      - 'host.docker.internal:host-gateway'

    volumes:
      # So that Traefik can listen to the Docker events
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - './letsencrypt:/letsencrypt'
      - '.${CUSTOM_CONFIG_DIR:-/config}:/config'

    secrets:
      - 'cloudflare_token'

    environment:
      - 'AUTH_USERS=${AUTH_USERS}'
      - 'IP_ALLOWLIST_PUBLIC=${IP_ALLOWLIST_PUBLIC}'
      - 'IP_ALLOWLIST_INTERNAL=${IP_ALLOWLIST_INTERNAL}'
      - 'IP_ALLOWLIST_CLOUDFLARE=${IP_ALLOWLIST_CLOUDFLARE}'
      - 'IP_VPS_DNS=${IP_VPS_DNS}'
      - 'IP_VPS_MAIN=${IP_VPS_MAIN}'
      - 'IP_VPS_PROXY=${IP_VPS_PROXY}'
      - 'DOMAIN_MAIN_PRIMARY=${DOMAIN_MAIN_PRIMARY}'
      - 'DOMAIN_MAIN_SECONDARY=${DOMAIN_MAIN_SECONDARY}'
      - 'ROUTER_PROXY_WS=${ROUTER_PROXY_WS:-false}'
      - 'CF_DNS_API_TOKEN_FILE=/run/secrets/cloudflare_token'

    labels:
      - 'traefik.enable=${TRAEFIK_ENABLED:-false}'
      - 'traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN_MAIN_SECONDARY}`)'
      - 'traefik.http.routers.traefik.service=api@internal'
      - 'traefik.http.routers.traefik.middlewares=internal-ip-allowlist@file,basic-auth@file'

secrets:
  cloudflare_token:
    file: './secrets/cloudflare_token'

networks:
  traefik:
    external: true
